<footer class="section pt-0 mt-0 has-background-warning has-text-white">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
     
    {% if config.showDate %} {# see config.json for showDate setting. If true, it will show the last modified date of the page. #}  
      <time class="has-text-grey-dark is-size-7">
      {# see eleventy.js for LUXON package to handle date formatting. postDate is a filter created in eleventy.js #}
      {# page.date resolves to last modified date, otherwise to created date if date: left out and I'm not sure exacty what files it is getting the dates from it always seems to be a few days old #}
      This page last updated {{ page.date | postDate }}
      </time>
    {% endif %}
      </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <p class="footer-social-icons">
            {% if config.social.facebook.length > 0 %}
              <span><a href="{{ config.social.facebook }}" rel="nofollow noreferrer" target="_blank" aria-label="facebook profile link"><span class="icon">{% facebookLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.twitter.length > 0 %}
              <span><a href="{{ config.social.twitter }}" rel="nofollow noreferrer" target="_blank" aria-label="twitter profile link"><span class="icon">{% twitterLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.instagram.length > 0 %}
              <span><a href="{{ config.social.instagram }}" 
              rel="nofollow noreferrer" target="_blank" aria-label="instagram profile link">
              <span class="icon">{% instagramLightIcon %}</span></a></span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% if config.showCookiesAdvice %}
  {% if config.googleAnalyticsID.length > 0 %}
    <script> var analyticsID = "{{ config.googleAnalyticsID }}"</script>
  {% endif %}
  {% include "cookies-advice.njk" %}
{% endif %}

<!-- Scripts -->
{% set js %}
  {% include "scripts.js" %}
  {% if config.showCookiesAdvice %}
    {% include "cookies-advice-script.js" %}
  {% endif %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>