
<div class="mycardclass-tarjeta"> {# Tarjeta = card in Spanish #}

  <figure class="image is-5by3">
    <a href="{{ item.url }}">
      <img src="{{item.data.featuredImage}}" alt="{{item.data.title}}" loading="lazy">
    </a>
  </figure>

{# To find the URL of the resulting file for a paginated item in Eleventy, 
it will be found in page.url and in the for loop below it will be in 
item.page.url. So Monday will go to the URL /Monday/ Thursday to /Thursday/ etc.  
Ed H 5/16/2026 my Mom would have been 93 today #}

  <div class="p-3">
    {% set comma = joiner() %}
    {% for tag in item.data.tags %}
    {% set tagURL = tag %}  {# Ed H. added 5/16/2026 I want a link on each tag to the right meeting. 5/16 would have ben my Mother's 93rd birthday #}
      {% if "Ames" in tag %} {% set tagURL = "AmesIowaAl-AnonMeetingsList" %}{% endif %}
      {% if tag == "Beginner"%} {% set tagURL = "Monday" %}{% endif %}
      {{ comma() }} <a href="/{{ tagURL }}/" class="is-uppercase is-size-7 has-text-grey-dark">{{ tag }}</a>
    {% endfor %}
    <h3 class="mycardclasstarjeta-title mt-0 mb-4 is-size-4 has-text-weight-bold has-text-grey-dark"><a href="{{ item.url }}" class="has-text-dark">{{ item.data.title }}</a></h3>
    <p class="has-text-grey-dark">
      <a href="{{ item.page.url }}">{{ item.data.description | descriptionLength }}</a>
    </p>
  </div>
</div>
