---
title: Ames Iowa Al-Anon Meetings AFG
title2: Click to go to Al-Anon.org
featuredImage: /_images/default.jpg
---
  {% include "head.njk" %}
  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    <main class="section is-flex-grow-1">

      <article class="container articulo">
          <h1 class="title is-2 is-size-4-mobile has-text-weight-bold">{{ title }}</h1>

        <div class="is-flex">

          <div class="articulo-content content mb-0">

            <h2 class="subtitle is-size-4 has-text-grey-dark has-text-weight-light is-family-sans-serif">
              {{ description }}
            </h2>

            {% if details %} {# Check if details exist before rendering the details which are in markdown and need to be processed thru markdownify filter #}
              {{ details | markdownify | safe }}
            {% endif %}

            {{ content | safe }}

          <div class="tags is-justify-content-left">

            {# Ed H. 5/7/2026 display mytags vertically on the meeting page near the bottom of the page. #}
            <div class="tags is-flex is-flex-direction-column">
              {% for 1tag in mytags %}
                  {% set tagURL = 1tag %} {# Ed H. added 5/16/2026 I want a link on each tag to the right meeting. 5/16 would have ben my Mother's 93rd birthday #}
                  {% if "Ames" in 1tag %} {% set tagURL = "AmesIowaAl-AnonMeetingsList" %}{% endif %}
                  {% if 1tag == "Beginner"%} {% set tagURL = "Monday" %}{% endif %}
                <span class="tag">
                  <a href="/{{ tagURL }}/" class="has-text-dark">{{ 1tag }}</a>
                </span>
              {% endfor %}
            </div>

          {% if featuredImage %}
            <figure class="image is-128x128">
              <img src="{{featuredImage}}" alt="{{title}}" title="{{title}}" width="20" height="20%">
            </figure>
          {% endif %}

          {% if featuredImage2 %}
            <figure class="image is-128x128">
              <img src="{{featuredImage2}}" alt="{{title}}" title="{{title}}" width="20" height="20%">
            </figure>
          {% endif %}
          
            <figure class="image mb-4 is-128x128">
              <a href="https://www.al-anon.org" target="_blank">
                <img src="/_images/favicon.png" alt="{{title2}}" title="{{title2}}" width="20" height="20%">
              </a>
            </figure>
        </div>

      </article>
    </main>

    {% if config.showRelatedMeetings %}
      {% include "related-meetings.njk" %}
    {% endif %}

    {% renderFile "./src/_11ty/_includes/footer.md" %} {# render footer.md first then add it to the stream Ed H added 4/22/2026 #}
    {% include "footer.njk" %}
  </body>

</html>