---
layout: index_layout.njk
title: Al-Anon meetings Ames Iowa
description: Find an Al-Anon meeting in Ames Iowa USA. Al-Anon is a support group for friends and family members of alcoholics. Many meetings are held weekly in Ames Iowa USA.
eleventyExcludeFromCollections: true
pagination:
  data: collections.sortedPosts
  size: 7
  alias: items
---
<section class="section is-flex-grow-1">
  <div class="container">
    <div class="columns is-variable is-4-desktop is-multiline is-mobile">
      {% for item in items %}
        <div class="column is-one-third-tablet is-full-mobile mb-5">
          {% include "tarjetaCard.njk" %}
        </div>
      {% endfor %}
    </div>

    {# No need for the 2 pagination arrows if there is only one page of items. Ed H removed 5/9/2026 #}
    {#
     <div class="columns">
      <div class="column has-text-centered">
        {% include "pagination.njk" %}  
      </div>
    </div>
    #}

  </div>
</section>